<advancedsettings>
  <videodatabase>
    <type>mysql</type>
    <host>{{ mysql_host }}</host>
    <port>{{ mysql_port }}</port>
    <user>{{ mysql_user }}</user>
    <pass>{{ mysql_pass }}</pass>
  </videodatabase>
  <musicdatabase>
    <type>mysql</type>
    <host>{{ mysql_host }}</host>
    <port>{{ mysql_port }}</port>
    <user>{{ mysql_user }}</user>
    <pass>{{ mysql_pass }}</pass>
  </musicdatabase>
  <videolibrary>
    <importwatchedstate>true</importwatchedstate>
    <importresumepoint>true</importresumepoint>
  </videolibrary>
</advancedsettings>
