<sources>
    <programs>
        <default pathversion="1"></default>
    </programs>
    <video>
        <default pathversion="1"></default>
        <source>
            <name>Rivendell TV</name>
            <path pathversion="1">nfs://{{ nas_host }}/volume1/Video/TV/</path>
            <allowsharing>true</allowsharing>
        </source>
        <source>
            <name>Rivendell Movies</name>
            <path pathversion="1">nfs://{{ nas_host }}/volume1/Video/Movies/</path>
            <allowsharing>true</allowsharing>
        </source>
    </video>
    <music>
        <default pathversion="1"></default>
        <source>
            <name>Rivendell Music</name>
            <path pathversion="1">nfs://{{ nas_host }}/volume1/Music/</path>
            <allowsharing>true</allowsharing>
        </source>
    </music>
    <pictures>
        <default pathversion="1"></default>
    </pictures>
    <files>
        <default pathversion="1"></default>
    </files>
</sources>
